.nav{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: #000000;
    color: white;
    border-radius: 10px;
    font-family: "Poppins", sans-serif;
    height: 60px;
    padding: 30px;
}
.nav h2{
    font-weight:500;
    font-size: 30px;
    position: relative;
    bottom: 20px;
    
}
.nav h2:hover{
    cursor: pointer;
}

.links{
    display: flex;
    gap :50px;
    list-style: none; 
   
}

.link{
    text-decoration: none;
    color: rgb(255, 255, 255);
}
.link:hover{
   
    text-decoration: underline;
}