.items{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    gap: 20px;
}


.delete{
    background-color: black;
    color: white;
    border-radius: 10px;
    padding: 5px;
    width: 80px;
}